.brightness {
  filter: brightness(40%);
}
.center-text {
  text-align: center;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.content {
  background-color: #1b98f5;
  color: white;
}
.reg {
  background-color: aliceblue;
  color: #1b98f5;
}
